body{
    background-color: red;
    background-size: cover;
}
h1{
    color:green;
}
p{
    color:rgb(0,0,255);
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;
    text-decoration: none;
    text-transform: none;
    font-style: italic;
    background-color: azure;

    width: 800px;
}
p{
    color: deeppink;
}